/*.animate-slide-left {
    animation: slideLeft .3s ease-out;
}

@keyframes slideLeft {
    from {
        transform: translateX(100%);
    }
    to   {
        transform: translateX(0);
    }
}*/
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* CSS cho hiệu ứng slide-left */
@keyframes slide-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
.animate-slide-left {
    animation: slide-left 0.3s ease-out forwards;
}

/* (Hoặc) CSS cho hiệu ứng scale-in (tùy chọn) */
@keyframes scale-in {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}
.animate-scale-in {
    animation: scale-in 0.3s ease-out forwards;
}